<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muvaffaqiyat</title>
</head>
<body>
   <div class="main-content" id="main-content">
    <h2>Latest News</h2>
    <div class="news-section">
        <div class="news-card">
            <h5>News Title 1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod...</p>
            <a href="#" class="btn btn-primary btn-sm">Read More</a>
        </div>
        <div class="news-card">
            <h5>News Title 2</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod...</p>
            <a href="#" class="btn btn-primary btn-sm">Read More</a>
        </div>
        <div class="news-card">
            <h5>News Title 3</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod...</p>
            <a href="#" class="btn btn-primary btn-sm">Read More</a>
        </div>
    </div>
</div>
</body>
</html>
