{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kirish</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/LOGOTIP.png' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        #capturedImage {
            border: 2px solid blue;
            margin-top: 20px;
        }

        .info {
            margin-top: 10px;
            font-size: 16px;
            color: blue;
            text-align: center;
        }
    </style>
</head>
<body>

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sign in image"></figure>
                <a href="{% url 'signup' %}" class="signup-image-link">Ro'yxatdan o'ting</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Kirish</h2>

                <div class="form-group dropdown mb-4">
                    <label for="loginMethod"></label>
                    <select class="form-control" id="loginMethod" onchange="toggleLoginMethod()" required>
                        <option value="">Kirish usulini tanlang</option>
                        <option value="password">Student ID va Parol</option>
                        <option value="face">Student ID va Yuzni tanish orqali</option>
                    </select>
                </div>

                <!-- Student ID va Parol orqali kirish formasi -->
                <form method="POST" id="passwordLogin" style="display:block;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="student_id" id="student_id_password" class="form-control" placeholder="Student ID" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin_password" id="signin_password" class="form-submit btn btn-primary" value="Log in">
                    </div>
                </form>

                <!-- Student ID va Yuzni tanish orqali kirish formasi -->
                <form method="POST" id="faceLogin" style="display:none;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="student_id" id="student_id_face" class="form-control" placeholder="Student ID" required/>
                    </div>

                    <div class="form-group">
                        <button type="button" onclick="startCamera()" class="btn btn-success">Kamerani yoqing</button>
                        <video id="camera" width="320" height="240" autoplay muted></video>
                        <button type="button" onclick="capturePhoto()" class="btn btn-primary mt-2">Rasmni olish</button>
                        <img id="capturedImage" width="320" height="240" style="display:none;" />
                        <input type="hidden" name="captured_photo" id="captured_photo">
                        <p class="info" id="faceInfo" style="display:none;">Yuz muvaffaqiyatli aniqlangan!</p>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin_face" id="signin_face" class="form-submit btn btn-primary" value="Log in"/>
                    </div>
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/face-detection.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.min.js"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
